.loginsignup-fields{

    background:#fce3fe;
    width: 400px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input{
   width: 100%;
   padding:10px;
}
button{
    width: 40%;
    margin-left: 120px;
    height: 40px;
    cursor: pointer;
}